<section class="tableComplete" *ngIf="compras.length >0" style="width: 100%;">

  <header class="headerRow">
    <div class="headerCell">Fecha salida</div>
    <div class="headerCell">Hora salida</div>
    <div class="headerCell">Origen</div>
    <div class="headerCell">Destino</div>
    <div class="headerCell">Asiento</div>
    <div class="headerCell">Valor</div>
    <div class="headerCell"></div>
  </header>

  <div class="normalRow" *ngFor="let compra of compras;let i= index">
    <div class="normalCell">{{compra.service.fechaSalida}}</div>
    <div class="normalCell">{{compra.service.horaSalida}}</div>
    <div class="normalCell">{{compra.service.terminalSalida}}</div>
    <div class="normalCell">{{compra.service.terminaLlegada}}</div>
    <div class="normalCell">{{compra.asiento}}</div>
    <div class="normalCell">${{compra.valor.toLocaleString('de-DE')}}</div>
    <div class="normalCell" (click)="eliminarBoleto(i)" *ngIf="compra.tipo != 'pet'">
      <ion-icon 
        name="close-circle" 
        style="font-size: 1rem; color: var(--ion-color-primary);margin: 3px -8px;"
        >
      </ion-icon>
    </div>
    <div class="petCell" *ngIf="compra.tipo === 'pet'">
      <img style="width : 2rem;" 
        src="assets/icon/png/icono_pata_verde.svg"/>
    </div>
  </div>

</section>
<div *ngIf="compras.length >0" style="text-align: right; color: white; padding: 1rem;"> Total:
  ${{total.toLocaleString('de-DE') }} </div>

<div *ngIf="compras.length === 0" style="text-align: center; color: white; padding: 1rem;">
  No hay compras para mostrar
</div>