<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="display: inline; width: 60%;">
      <ion-img src="assets/images/titulo.png" style="height: 100%;height: 5vh;"></ion-img>
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Medios de pago
  </div>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: orange">
    <div style=" height: 100%; background-color: white ;">
      <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
        <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center ion-align-items-center"
          style="height: 100%">
          <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center; background-color: white;">

            <!-- 1ra fila -->
            <div style="text-align: center;">
              <div
                style="background-color: var(--ion-color-primary);color: white; border-radius: 40px 40px 5px 5px; margin-bottom: 2vh;">
                Convenios</div>
            </div>

            <!-- 2da fila -->
            <div style="width: 100%; display: flex; height: 1.5rem; ">

              <div style="display: inline; width: 6%;"></div>
              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;align-items: center;">
                <img style="height: 70%; display: flex;" src="assets/images/MediosDePago/LaAraucana.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;">
                <img style="height: 100%; display: flex;"
                  src="assets/images/MediosDePago/centinelaAntofagastaMinerals.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>

              <div style="display: inline; width: 15%;display: flex;">
                <img style="height: 100%; display: flex;"
                  src="assets/images/MediosDePago/ColegiodePeritosProfesionalesdeChile.jpg">
              </div>

            </div>

            <!-- 3ra fila -->
            <div style="width: 100%; display: flex; height: 1.5rem; margin-bottom: 2vh;">

              <div style="display: inline; width: 6%;"></div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;align-items: center;">
                <img style="height: 70%; display: flex;" src="assets/images/MediosDePago/injuv.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;align-items: center;">
                <img style="height: 70%; display: flex; " src="assets/images/MediosDePago/mutualDeSeguridad.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="display: inline; width: 15%;display: flex;">
                <img style="height: 100%; display: flex;" src="assets/images/MediosDePago/cajaLosAndes.png">
              </div>

            </div>

            <!-- 4ta fila -->
            <div style="text-align: center;">
              <div
                style="background-color: var(--ion-color-primary);color: white;  border-radius: 40px 40px 5px 5px; margin-bottom: 2vh;">
                Informacion de Contacto</div>
            </div>

            <!-- 5ta fila -->
            <div style="text-align: center; display: flex;">

              <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                <input type="number" placeholder="RUT">
              </div>

              <ion-button
                style="color: white;  width:100% ;padding: 0 3vw; outline: none; text-transform: none;--background: #fe5200;">
                Validar
              </ion-button>

            </div>


            <!-- 6ta fila -->
            <div
              style="text-align: center;display: flex; flex-direction: row; align-items: center;align-items: center;">
              <div style=" width: 35%;">


                <div style="height: 2.08rem;">
                  <ion-select class=" ion-no-padding ion-no-margin" style="height: 100%;" multiple="false"
                    placeholder="Código País" cancel-text="Cancelar">
                    <!-- <ion-select-option value="{{i+1+1900}}"
                      *ngFor="let dummy of ' '.repeat(120).split(''), let i = index">{{i+1+1900}}</ion-select-option> -->
                    <ion-select-option value="+54">+54</ion-select-option>
                    <ion-select-option value="+56">+56</ion-select-option>
                    <ion-select-option value="+52">+52</ion-select-option>
                    <ion-select-option value="+58">+58</ion-select-option>
                    <!-- <ion-select-option value="+54">ARGENTINA</ion-select-option>
                    <ion-select-option value="+56">CHILE</ion-select-option>
                    <ion-select-option value="+52">MEXICO</ion-select-option>
                    <ion-select-option value="+58">VENEZUELA</ion-select-option> -->
                  </ion-select>
                </div>


              </div>
              <div style=" width: 65%;">
                <input type="number" placeholder="Teléfono">
              </div>
            </div>

            <!-- 7ma fila -->
            <div style="text-align: center;">
              <input type="email" placeholder="E-mail">
            </div>

            <!-- 8va fila -->
            <div style="text-align: center;">
              <input type="email" placeholder="Re-ingresar">
            </div>

            <!-- 9na fila -->
            <div style="text-align: center;">
              <h2>Total: ${{total.toLocaleString('de-DE') }}</h2>
            </div>

            <!-- 10 fila -->
            <div style="width: 100%; display: flex; height: 2rem;">

              <div style="display: inline; width: 15%; display: flex; justify-content: center; align-items: center;">
              </div>
              <div style="display: inline; width: 10%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="width: 30%;">
                <img style="display: flex; height: 100%;" src="assets/images/MediosDePago/WebPay.png">
              </div>

              <div style="display: inline; width: 10%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox mode="ios"></ion-checkbox>
              </div>
              <div style="width: 30%;">
                <img style="display: flex; height: 100%;" src="assets/images/MediosDePago/cencosud.jpg">
              </div>
              <div style="display: inline; width: 5%; display: flex; justify-content: center; align-items: center;">
              </div>

            </div>

            <!-- 10ma fila -->
            <div
              style="font-size: 2vw; display: flex; justify-content: center; align-items: center;padding-top: 1vh;margin-bottom: 1.5rem;">
              <ion-checkbox style="height: 0.8rem;width: 0.8rem;margin: 0 1vw;"></ion-checkbox> He leído y estoy de
              acuerdo
              con los términos y condiciones de la compra
            </div>






          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: #fe5200;">

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/purchase-detail">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <!-- <div style="width: 50%;"></div> -->
    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/transaction-voucher">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Pagar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>

  </div>
</ion-footer>