<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
      <ion-badge color="dark" mode="ios"  *ngIf="ticket.comprasDetalles && ticket.comprasDetalles.length>0"
        style="position: absolute; left: 81%; top: 2px; font-size: 0.7rem;opacity: 0.7; background-color: #0247ac;"
        >{{ticket.comprasDetalles.length}}</ion-badge>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>



  <div class="cabeceraTitulo">
    Medios de pago
  </div>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: orange">
    <div style=" height: 100%; background-color: white ;">
      <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
        <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center ion-align-items-center"
          style="height: 100%">
          <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center; background-color: white;">

            <!-- 1ra fila -->
            <div style="text-align: center;">
              <div
                style="background-color: var(--ion-color-primary);color: white; border-radius: 40px 40px 5px 5px; margin-bottom: 2vh;">
                Convenios</div>
            </div>

            <!-- 2da fila -->
            <div class="filaImagenes">

              <div style="display: inline; width: 6%;"></div>
              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioUp('checked0')" [(ngModel)]="convenioUp.checked0" mode="ios">
                </ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;align-items: center;">
                <img style="height: 70%; display: flex;" src="assets/images/MediosDePago/LaAraucana.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioUp('checked1')" [(ngModel)]="convenioUp.checked1" mode="ios">
                </ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;">
                <img style="height: 100%; display: flex;"
                  src="assets/images/MediosDePago/centinelaAntofagastaMinerals.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioUp('checked2')" [(ngModel)]="convenioUp.checked2" mode="ios">
                </ion-checkbox>
              </div>

              <div style="display: inline; width: 15%;display: flex;">
                <img style="height: 100%; display: flex;"
                  src="assets/images/MediosDePago/ColegiodePeritosProfesionalesdeChile.jpg">
              </div>

            </div>

            <!-- 3ra fila -->
            <div class="filaImagenes" style="margin-bottom: 2vh;">

              <div style="display: inline; width: 6%;"></div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioUp('checked3')" [(ngModel)]="convenioUp.checked3" mode="ios">
                </ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;align-items: center;">
                <img style="height: 70%; display: flex;" src="assets/images/MediosDePago/injuv.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioUp('checked4')" [(ngModel)]="convenioUp.checked4" mode="ios">
                </ion-checkbox>
              </div>
              <div style="display: inline; width: 25%;display: flex;align-items: center;">
                <img style="height: 70%; display: flex; " src="assets/images/MediosDePago/mutualDeSeguridad.png">
              </div>

              <div style="display: inline; width: 8%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioUp('checked5')" [(ngModel)]="convenioUp.checked5" mode="ios">
                </ion-checkbox>
              </div>
              <div style="display: inline; width: 15%;display: flex;">
                <img style="height: 100%; display: flex;" src="assets/images/MediosDePago/cajaLosAndes.png">
              </div>

            </div>

            <!-- 4ta fila -->
            <div style="text-align: center;">
              <div
                style="background-color: var(--ion-color-primary);color: white;  border-radius: 40px 40px 5px 5px; margin-bottom: 2vh;">
                Informacion de Contacto</div>
            </div>

            <!-- 5ta fila -->
            <div style="text-align: center; display: flex;">

              <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                <input type="text" [textMask]={mask:rutFunction,guide:false} [(ngModel)]="DatosFormulario.rut" name="rut" #input_rut
                  (keypress)="tecleado($event)" (keyup.enter)="setFocus('codigo')" placeholder="RUT">
              </div>

              <ion-button
                style="color: white;  width:100% ;padding: 0 3vw; outline: none; text-transform: none;--background: #fe5200;">
                Validar
              </ion-button>

            </div>


            <!-- 6ta fila -->
            <div
              style="text-align: center;display: flex; flex-direction: row; align-items: center;align-items: center;">
              <div style=" width: 35%;">
                <input style="text-align: center; margin: 0.8vh 0vw 0.8vh 3vw; " [textMask]="maskCodigo" type="text"
                  placeholder="Código País: +56" [(ngModel)]="DatosFormulario.codigo" name="codigo" #input_codigo
                  (keypress)="tecleado($event)" (keyup.enter)="setFocus('telefono')">
              </div>
              <div style=" width: 65%;">
                <input type="text" [textMask]={mask:telefonoFunction,guide:false} placeholder="Teléfono" [(ngModel)]="DatosFormulario.telefono" name="telefono"
                  #input_telefono (keypress)="tecleado($event)" (keyup.enter)="setFocus('email')">
              </div>
            </div>

            <!-- 7ma fila -->
            <div style="text-align: center;">
              <input type="email" placeholder="E-mail" [(ngModel)]="DatosFormulario.email" name="email" #input_email
                (keypress)="tecleado($event)" (keyup.enter)="setFocus('email2')">
            </div>

            <!-- 8va fila -->
            <div style="text-align: center;">
              <input type="email" placeholder="Re-ingresar" [(ngModel)]="DatosFormulario.email2" name="email2"
                #input_email2 (keypress)="tecleado($event)">
            </div>

            <!-- 9na fila -->
            <div style="text-align: center;">
              <h2>Total: ${{total.toLocaleString('de-DE') }}</h2>
            </div>

            <!-- 10ma fila -->
            <div class="filaImagenes" style="width: 100%; display: flex; height: 2rem;">

              <div style="display: inline; width: 15%; display: flex; justify-content: center; align-items: center;">
              </div>
              <div style="display: inline; width: 10%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioDown('checked0')" [(ngModel)]="convenioDown.checked0"
                  mode="ios"></ion-checkbox>
              </div>
              <div style="width: 30%;">
                <img style="display: flex; height: 100%;" src="assets/images/MediosDePago/WebPay.png">
              </div>

              <div style="display: inline; width: 10%; display: flex; justify-content: center; align-items: center;">
                <ion-checkbox (click)="SeleccionadoConvenioDown('checked1')" [(ngModel)]="convenioDown.checked1"
                  mode="ios"></ion-checkbox>
              </div>
              <div style="width: 30%;">
                <img style="display: flex; height: 100%;" src="assets/images/MediosDePago/cencosud.jpg">
              </div>
              <div style="display: inline; width: 5%; display: flex; justify-content: center; align-items: center;">
              </div>

            </div>

            <!-- 11va fila -->
            <div (click)="aceptarAcuerdo()"
              style="font-size: 2vw; display: flex; justify-content: center; align-items: center;padding-top: 1vh;margin-bottom: 1.5rem;">
              <ion-checkbox [(ngModel)]="acuerdo.acuerdo" style="height: 0.8rem;width: 0.8rem;margin: 0 1vw;">
              </ion-checkbox> He leído y estoy de
              acuerdo
              con los términos y condiciones de la compra
            </div>






          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: #fe5200;">

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/purchase-detail">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <!-- <div style="width: 50%;"></div> -->
    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" (click)="pagar()">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Pagar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>

  </div>
</ion-footer>