<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>

  <div class="cabeceraTitulo">
    Preguntas Frecuentes
  </div>

</ion-header>

<ion-content style="width: 100%;height: 100%;">
  <div style=" height: 100%; background-color: white ; ">
    <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
      <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center" style="height: 100%">
        <ion-col class=" ion-no-padding ion-no-margin" size="12">

          <h6 style="color: var(--ion-color-secondary); text-align: center;">
            Como se CAMBIA ó <br> DEVUELVE UN BOLETO por internet?</h6>

          <p>1.- Búsque dentro del menu principal la opción CAMBIO DE BOLETO</p>
          <p>2.- Luego de seleccionar debera ingresar su numero de boleto</p>
          <p>3.- Presione el boton CONSULTAR</p>
          <p>4.- Si su boleto es valido, desplegaremos la información de su boleto</p>
          <p>5.- Debe ingresar email donde desea que enviemos su comprobante de cambio</p>
          <p>6.- Debe ingresar su rut, como información complementaria</p>
          <p>7.- Debe Leer y aceptar las condiciones afectas al cambio</p>
          <p>7.- Presione el Boton CAMBIAR</p>
          <p>8.- Para compras realizadas por internet como medio de validacion debera ingresar el mismo email con el que
            realizo la compra</p>
          <p>9.- Para compras realizadas en ventanilla como medio de validacion debera ingresar la fecha y hora de su
            viaje</p>
          <p>10.- Obtendra un pasaje abierto sin confirmar el que podra ser canjeado por un nuevo boleto</p>
          <p style="text-align: center;
          font-weight: bold;
          font-size: 0.8rem;color: var(--ion-color-secondary); ">Esperamos haber respondido a sus duda, puede llamar al
            siguiente numero 600 600 0018 o
            enviar un email a atencion.cliente@pullmanbus.cl</p>


        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer no-border style=" width: 100vw;background-color: var(--ion-color-primary);color: white;">
  <div style="width: 100%; display: flex;justify-content: center;">

    <ion-button slot="start" fill="clear" style="color: white; width: 50%; outline: none;" routerLink="/home">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <div style="width: 50%;"> </div>

  </div>
</ion-footer>