<ion-header no-border>
  <div class="cabeceraGeneral">
    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">
      Es
    </div>

    <div style="display: inline; width: 60%;" (click)="prueba()">
      <ion-img src="assets/images/titulo.png" style="height: 100%;height: 5vh;"></ion-img>
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>
  </div>

  <div class="cabeceraTitulo" style="font-size: 4vh;" *ngIf="way==='go'">
    Pasaje de ida
  </div>
  <div class="cabeceraTitulo" style="font-size: 0.8rem;" *ngIf="way==='go'">
    {{this.ticket.origin.nombre  | titlecase }} a {{this.ticket.destiny.nombre  | titlecase }} {{goDate}}
  </div>

  <div class="cabeceraTitulo" style="font-size: 4vh;" *ngIf="way==='back'">
    Pasaje de regreso
  </div>
  <div class="cabeceraTitulo" style="font-size: 0.8rem;" *ngIf="way==='back'">
    {{this.ticket.origin.nombre  | titlecase }} a {{this.ticket.destiny.nombre  | titlecase }} {{backDate}}
  </div>

</ion-header>

<ion-content>
  <div style="width: 100%;height: 100%; background-color: #fe5200;padding: 0">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
        <ion-row style="height: 100%"
          class="ion-no-margin ion-no-padding ion-justify-content-center ion-align-items-center">
          <ion-col size="12" style="text-align: center;" class="ion-no-margin ion-no-padding">




            <!-- Bucle serviciosss -->
            <div style=" font-size: 2vw;padding: 5px 0;margin: 3px 0px;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'"
              *ngFor="let svc of allServices; let i = index;" #divServicio>

              <!-- Servicio -->
              <div style="display:flex; flex-direction: row;">

                <!-- columna 1   -->
                <div class="myServiceColumn" style="width: 15%;">
                  <div class="myServiceRow" style="color: #fe5200;display: block;">25
                    <ion-icon src="assets/icon/Porcentaje003.svg"></ion-icon>
                  </div>
                  <div class="myServiceRow"
                    style="color: #fe5200; height: 2rem; display: flex;justify-content: center;align-items: center;">
                    <ion-icon style="font-size: 2rem;" name="bus"></ion-icon>
                  </div>
                  <div class="myServiceRow"
                    style="color: #fe5200;display: flex;justify-content: center;align-items: center;">
                    <div
                      style="border: 1px solid #fe5200; border-radius: 5px; font-size: 0.6rem; width: 80%;margin: 1px;max-width: 3rem;">
                      Piso 1</div>
                  </div>
                  <div class="myServiceRow" *ngIf="svc.tarifaSegundoPiso"
                    style="color: #fe5200;display: flex;justify-content: center;align-items: center;">
                    <div
                      style="background-color: #fe5200; color: white; border-radius: 5px; font-size: 0.6rem; width: 80%;margin: 1px;max-width: 3rem;">
                      Piso 2</div>
                  </div>
                </div>

                <!-- columna 2   -->
                <div class="myServiceColumn" style="width: 5%;">
                  <div class="myServiceRow" style="height: 1.9rem;"><img src="assets/images/flecha002.png"
                      style="height: 1.5rem;  margin-top: 0.2rem; object-fit: scale-down;"></div>
                  <div class="myServiceRow" style="display: flex; align-items: center; color: gray;">
                    <ion-icon style="font-size: 0.9rem;" name="clock"></ion-icon>
                  </div>
                </div>

                <!-- columna 3   -->
                <div class="myServiceColumn" style="width: 30%;text-align: left; ">
                  <div class="myServiceRow" style="font-weight: bold;">Sal. {{svc.horaSalida | hh2ampm}}</div>
                  <div class="myServiceRow">Lle. {{svc.horaLlegada | hh2ampm}}</div>
                  <div class="myServiceRow">Dur.
                    {{'X'| duration: svc.fechaSalida : svc.horaSalida : svc.fechaLlegada : svc.horaLlegada}}</div>
                  <div class="myServiceRow" style="margin-top: 0.2rem;">Semicama</div>
                  <div class="myServiceRow" *ngIf="svc.tarifaSegundoPiso">Cama</div>
                </div>

                <!-- columna 4   -->
                <div class="myServiceColumn" style="width: 50%;text-align: left;">
                  <div class="myServiceRow" style="font-weight: bold;">{{svc.terminalSalida  | titlecase }}</div>
                  <div class="myServiceRow">{{svc.terminaLlegada  | titlecase}}</div>
                  <div class="myServiceRow" style="height: 1rem; flex-direction: row;">
                    <div style="width: 70%;">
                      <img src="data:image/png;base64,{{svc.logo}}" style="height: 1rem; border-radius: 3px" />
                    </div>
                    <div *ngIf="svc.my_comprasByService && svc.my_comprasByService.length>0"
                      style=" width: 25%;display: flex;justify-content: flex-end;align-items: center; flex-direction: row;">

                      <div>{{svc.my_comprasByService.length}}</div>
                      <div style="margin-left: -2px;">
                        <img style="height: 1.5rem;margin-top: 4px;" src="assets/icon/png/Asiento-seleccionado.png" />
                      </div>
                      <div>
                        <ion-icon *ngIf="svc.my_comprasByService.length <5"
                          style="color: blue; margin-top: 2px; margin-left: -1.2rem; font-size: 1.3rem;"
                          name="checkmark"></ion-icon>
                        <ion-icon *ngIf="svc.my_comprasByService.length >4"
                          style="color: red; margin-top: 2px; margin-left: -1.2rem; font-size: 1.3rem;"
                          name="close-circle-outline"></ion-icon>
                      </div>
                    </div>



                  </div>

                  <div class="myServiceRow" style="flex-direction: row; margin-top: 0.2rem; ">
                    <div class="myServiceRow" style="flex-direction: column;">
                      <div style="display: flex; align-items: center; justify-content: left;">Valor:
                        ${{svc.tarifaPrimerPiso}}</div>
                      <div style="display: flex; align-items: center; justify-content: left;"
                        *ngIf="svc.tarifaSegundoPiso">Valor:
                        ${{svc.tarifaSegundoPiso}}</div>
                    </div>
                    <div class="myServiceRow" style="align-items: center; justify-content: center; ">
                      <ion-button fill="clear" (click)="myServiceSelection(i)"  *ngIf="(!svc.checked && !svc.my_comprasByService) ||  (  !svc.checked &&  svc.my_comprasByService && svc.my_comprasByService.length===0)"
                        style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.6rem;width: 80%;max-height: 1rem;">
                        Comprar
                      </ion-button>
                      <ion-button fill="clear" (click)="myServiceSelection(i)" *ngIf="!svc.checked && svc.my_comprasByService && svc.my_comprasByService.length>0"
                        style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.6rem;width: 80%;max-height: 1rem;">
                        Editar
                      </ion-button>
                      <ion-button fill="clear" (click)="myServiceSelection(i)" *ngIf="svc.checked"
                        style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0247ac;text-transform: none; font-size: 0.6rem;width: 80%;max-height: 1rem;">
                        Ocultar
                      </ion-button>
                    </div>
                  </div>
                </div>


              </div>

              <!-- asientos del servicio -->
              <div style="width: 100%;height: 100%; background-color: #fe5200" *ngIf="svc.checked">
                <div style="height: 100%; background-color: white ;margin: 0px 0px 0px
                  0px;">
                  <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
                    <ion-row style="height: 100%" class="ion-no-margin ion-no-padding ion-justify-content-center
                      ion-align-items-center">
                      <ion-col size="12" style="height: 100%;text-align: center;"
                        class="ion-no-margin ion-no-padding ion-justify-content-center">

                        <div
                          style="display: flex; flex-direction: row; margin-top: 1vh; height: 100%; max-width: 25rem; margin: 0 auto;">

                          <!-- //* pisos y asientos -->
                          <div style="width: 60vw;">

                            <!-- //* Botones seleccion para piso1 piso2 -->
                            <div style="width: 100%; display: flex;">
                              <div style="width: 50%; text-align: -webkit-center;">
                                <div [ngClass]="piso1 ? 'pisoShow' : 'pisoHiden'" (click)="cambiarPiso(1)">
                                  Piso 1
                                </div>
                              </div>
                              <div style="width: 50%; text-align: -webkit-center;" *ngIf="tarifaPiso2">
                                <div [ngClass]="!piso1 ? 'pisoShow' : 'pisoHiden'" (click)="cambiarPiso(2)">
                                  Piso 2
                                </div>
                              </div>
                            </div>

                            <!-- //* piso1 -->
                            <div style="width: 100%;height: 90%; display: flex; align-items: center;" *ngIf="piso1">
                              <div style="width: 100%;">
                                <div style="width: 100%; display: flex;"
                                  *ngFor="let columna of bus['1'] ; let x= index">
                                  <div style="width: 100%; display: flex;"
                                    *ngFor="let asiento of columna ; let y= index">


                                    <ion-button fill="clear" style="margin-left: 4vw; color: #fe5200; outline:
                                    none;padding:0;font-size: 0vw; display: contents;"
                                      (click)="presionadoAsiento('1',y,x)">
                                      <img src="assets/icon/png/Asiento-ocupado.png"
                                        *ngIf="asiento.estado==='ocupado'" />
                                      <img src="assets/icon/png/Asiento-disponible.png"
                                        *ngIf="asiento.estado==='libre'" />
                                      <img src="assets/icon/png/Asiento-seleccionado.png"
                                        *ngIf="asiento.estado==='seleccionado'" />
                                      <ion-text
                                        style="color: red; color: white;position: absolute;font-size: 0.8rem;top: 1rem;font-weight: bold;">
                                        {{asiento.asiento}}
                                      </ion-text>
                                    </ion-button>

                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- //* piso2 -->
                            <div style="width: 100%;height: 100%;" *ngIf="!piso1 && tarifaPiso2">
                              <div style="width: 100%; display: flex;" *ngFor="let columna of bus['2'] ; let x= index">
                                <div style="width: 100%; display: flex;" *ngFor="let asiento of columna ; let y= index">
                                  <!-- //* [style.width]="( asiento.estado ==='libre' || asiento.estado ==='ocupado'  || asiento.estado ==='seleccionado')? '100%':'50%'" > -->

                                  <ion-button fill="clear" style="margin-left: 4vw; color: #fe5200; outline:
                                    none;padding:0;font-size: 0vw;display: contents;"
                                    (click)="presionadoAsiento('2',y,x)"
                                    *ngIf="asiento.estado ==='libre' || asiento.estado ==='ocupado'  || asiento.estado ==='seleccionado'">
                                    <img src="assets/icon/png/Asiento-ocupado.png" *ngIf="asiento.estado==='ocupado'" />
                                    <img src="assets/icon/png/Asiento-disponible.png"
                                      *ngIf="asiento.estado==='libre'" />
                                    <img src="assets/icon/png/Asiento-seleccionado.png"
                                      *ngIf="asiento.estado==='seleccionado'" />
                                    <ion-text
                                      style="color: red; color: white;position: absolute;font-size: 0.8rem;top: 1rem;font-weight: bold;">
                                      {{asiento.asiento}}
                                    </ion-text>
                                  </ion-button>

                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- //* leyenda -->
                          <div style="width: 40vw; display: flex;justify-content:
                            center;align-items: center;border-left: 2px solid #f2f2f2;">
                            <div>
                              <div style="display: flex;align-items: center;">
                                <img style="height: 2rem;" src="assets/icon/png/Asiento-disponible.png" />
                                <ion-text>Disponible</ion-text>
                              </div>
                              <div style="display: flex;align-items: center;">
                                <img style="height: 2rem;" src="assets/icon/png/Asiento-ocupado.png" />
                                <ion-text>Ocupado</ion-text>
                              </div>
                              <div style="display: flex;align-items: center;">
                                <img style="height: 2rem;" src="assets/icon/png/Asiento-seleccionado.png" />
                                <ion-text>Seleccionado</ion-text>
                              </div>
                            </div>
                          </div>

                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>

            </div>



          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>

  <!-- 1ra fila menu -->
  <div style="width: 100%; display: flex;justify-content: space-around;">

    <ion-button fill="clear" (click)="atras()" 
     style="color: #fe5200; outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;"
      >
      <ion-icon src="assets/icon/previous.svg" style="color: #fe5200;font-size: 2.5vw;padding: 3px;">
      </ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 0.7rem;">
        Regresar
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: #fe5200; outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;">
      <ion-icon name="md-repeat" style="transform: rotate(90deg); color: #fe5200;font-size: 5vw;"></ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 0.7rem;">
        Ordenar
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: #fe5200; outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;"
      (click)="prueba()">
      <ion-icon name="md-code-download" style="color: #fe5200;font-size: 5vw;padding: 1px;"></ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 0.7rem;">
        Filtros
      </div>
    </ion-button>

    <ion-button fill="clear" style="color: #fe5200; outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;"
      *ngIf="tarifaTotal == 0" (click)="continuar()">

      <div style="display: inline;  text-align: left; text-transform: none;font-size: 0.7rem;">
        Continuar
      </div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg); color: #fe5200;font-size: 3vw;">
      </ion-icon>
    </ion-button>

  </div>


  <!-- 2da Fila menu -->
  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: #fe5200;"
    *ngIf="tarifaTotal &&  tarifaTotal !== 0">
    <div
      style="width: 50%;display: inline;  text-align: left;padding-right: 7px;  text-transform: none;padding-left: 20px;font-size: 1.3rem;color: white;font-weight: bold; ">
      Total: ${{tarifaTotal.toLocaleString('de-DE') }}
    </div>

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" (click)="continuar()">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">
        Continuar
      </div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>
  </div>


</ion-footer>