<ion-header no-border>
  <div class="cabeceraGeneral">
    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid
      1px;margin: 5px;">
      Es
    </div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>
  </div>

  <div class="cabeceraTitulo" *ngIf="!mySelection">
    Compra tu pasaje
  </div>
  <div class="cabeceraTitulo" *ngIf="mySelection==='origin'">
    Busque y Seleccione el Origen
  </div>
  <div class="cabeceraTitulo" *ngIf="mySelection==='destiny'">
    Busque y Seleccione el Destino
  </div>
</ion-header>

<ion-content style=" border-left: 3vw solid #fe5200; border-right: 3vw solid #fe5200;   ">
  <div style="width: 100%; height: -webkit-fill-available;">
    <div style="height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">


        <!-- solo cuando hay que elegir origen o destino -->
        <ion-row *ngIf="showSelection">
          <ion-col size="12">

            <div style="height: 100%; width: 100%;">

              <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; background-color: #f2f2f2; border-radius: 15px; padding: 5px; margin: 10px;">
                <div style="width: 10% ;justify-content: center;"><ion-icon style="font-size: 2rem; color: #fe5200;" name="md-search"></ion-icon></div>
                <!-- input buscador -->
                <ion-input style="width: 90%  " type="text" placeholder="Buscar aquí.." (keyup)="teclaInput($event)">
                </ion-input>
              </div>

              <!-- bucle filtro -->
              <div style="border: 1px solid orangered; border-radius: 10px; text-align: center;"
                *ngFor="let item of inputFiltrado;let i= index">
                <ion-button fill="clear" (click)="seleccion(item)"
                  style="color: black;width: 95%; outline: none; text-transform: none; height: 1.5rem;">
                  <ion-icon style="color: orangered;" name="locate" *ngIf="mySelection==='origin'"></ion-icon>
                  <ion-icon style="color: orangered;" name="pin" *ngIf="mySelection==='destiny'"></ion-icon>
                  <ion-text style="padding-left: 0.5rem;">{{item.nombre | titlecase}}</ion-text>
                </ion-button>
              </div>

            </div>
          </ion-col>
        </ion-row>

        <!-- resto de la pagina -->
        <ion-row style="height: 100%"
          class="ion-no-margin ion-no-padding ion-justify-content-center ion-align-items-center">
          <ion-col size="12" style="text-align: center;" class="ion-no-margin ion-no-padding">

            <!-- Spinner -->
            <div *ngIf="!showSelection">
              <ion-row style="position: absolute; z-index: 3; right: 47%; top: -2rem;" *ngIf="loading">
                <ion-col size="12">
                  <ion-spinner style="color: orangered; " name="circles"></ion-spinner>
                </ion-col>
              </ion-row>

              <!-- boton para Seleccionar Origen -->
              <ion-row style="margin-top: 2vh;" class="ion-no-margin ion-no-padding ion-justify-content-center">
                <ion-col size="12"
                  class="ion-justify-content-center ion-no-margin ion-no-padding ion-align-items-center"
                  style="display: contents">
                  <div style="text-align: center; width: 97%; border: 1px solid #fe5200; border-radius: 5px;">

                    <ion-button fill="clear" style="color: white; width: 100%; outline: none; text-transform: none;"
                      [disabled]="loading" (click)="btnSelecccionarOrigen()">

                      <div style="display: flex; flex-direction: row; width: 100%;">
                        <div style="display: flex;color: black; width: 10%;">
                          <ion-icon class="iconEditable" style="margin: 0;" name="locate"></ion-icon>
                        </div>
                        <div
                          style="display: flex;color: black; width: 25%;align-items: center; font-size: 1rem; padding-left: 1vh;">
                          Origen</div>
                        <div
                          style="display: flex;color: black; width: 58%;align-items: center; font-size: 1rem; font-size: 1.5rem;justify-content: flex-end;">
                          <ion-text *ngIf="!myOrigin" style="font-size: 1.1rem;">Seleccione..</ion-text>
                          <ion-text *ngIf="myOrigin" style="font-size: 1.1rem;">
                            {{ (myOrigin.nombre.length>19)? (myOrigin.nombre | slice:0:19 | titlecase)+'..':(myOrigin.nombre | titlecase) }}
                            <!-- {{myOrigin.nombre | titlecase}} -->
                          </ion-text>
                        </div>
                        <div style="display: flex;color: black; width: 7%;justify-content: flex-end;">
                          <ion-icon class="iconEditable" style="margin:0; color: grey;" name="arrow-dropdown">
                          </ion-icon>
                        </div>
                      </div>

                    </ion-button>

                  </div>
                </ion-col>
              </ion-row>

              <!-- boton para Seleccionar Destino -->
              <ion-row style="margin-top: 2vh;" class="ion-no-margin ion-no-padding ion-justify-content-center">
                <ion-col size="12"
                  class="ion-justify-content-center ion-no-margin ion-no-padding ion-align-items-center"
                  style="display: contents">
                  <div style="text-align: center; width: 97%; border: 1px solid #fe5200; border-radius: 5px;">

                    <ion-button fill="clear" style="color: white; width: 100%; outline: none; text-transform: none;"
                      [disabled]="loading || !myOrigin" (click)="btnSelecccionarDestino()">

                      <div style="display: flex; flex-direction: row; width: 100%;">
                        <div style="display: flex;color: black; width: 10%;">
                          <ion-icon class="iconEditable" style="margin: 0;" name="pin"></ion-icon>
                        </div>
                        <div
                          style="display: flex;color: black; width: 25%;align-items: center; font-size: 1rem; padding-left: 1vh;">
                          Destino</div>
                        <div
                          style="display: flex;color: black; width: 58%;align-items: center; font-size: 1rem; font-size: 1.5rem;justify-content: flex-end;">
                          <ion-text *ngIf="!myDestiny" style="font-size: 1.1rem;">Seleccione..</ion-text>
                          <ion-text *ngIf="myDestiny" style="font-size: 1.1rem;">
                            {{ (myDestiny.nombre.length>15)? (myDestiny.nombre | slice:0:15 | titlecase)+'..':(myDestiny.nombre | titlecase) }}

                          </ion-text>
                        </div>
                        <div style="display: flex;color: black; width: 7%;justify-content: flex-end;">
                          <ion-icon class="iconEditable" style="margin:0; color: grey;" name="arrow-dropdown">
                          </ion-icon>
                        </div>
                      </div>

                    </ion-button>

                  </div>
                </ion-col>
              </ion-row>

              <!-- Fecha de Ida -->
              <ion-row style="margin-top: 2vh;" class="ion-no-margin
              ion-no-padding ion-justify-content-center">
                <ion-col size="12" class="ion-justify-content-center ion-no-margin
                ion-no-padding ion-align-items-center" style="display: contents">
                  <div style="text-align: center; width: 97%; border: 1px solid #fe5200; border-radius: 5px;">
                    <ion-item style="width: 100%;/*height: 8vh*/;border-radius: 8px;">
                      <ion-icon class="iconEditable" name="calendar"></ion-icon>
                      <ion-label>Fecha de Ida:</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Seleccione.." cancelText="Cancelar"
                        doneText="Listo" mode="ios" [(ngModel)]="goDate" [min]="mingoDate"
                        [max]="maxgoDate"></ion-datetime>
                    </ion-item>

                    <div style="width: 100%;background-color: #f2f2f2; border-radius: 0 0 5px 5px;padding: 0.4vh;"
                      *ngIf="goDate">
                      <ion-text style="color: black;font-size: 1rem;">{{ goDate | date2line}}</ion-text>
                    </div>
                  </div>
                </ion-col>
              </ion-row>

              <!-- Fecha Retorno -->
              <ion-row style="margin-top: 2vh;" class="ion-no-margin
            ion-no-padding ion-justify-content-center">
                <ion-col size="12" class="ion-justify-content-center ion-no-margin
              ion-no-padding ion-align-items-center" style="display: contents">
                  <div style="text-align: center; width: 97%; border: 1px solid #fe5200; border-radius: 5px;">
                    <ion-item style="width: 100%;/*height: 8vh*/;border-radius: 8px;">
                      <ion-icon class="iconEditable" name="calendar"></ion-icon>
                      <ion-label>Fecha de regreso:</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Opcional.." cancelText="Sin regreso"
                        (ionCancel)="noBack()" doneText="Listo" mode="ios" [(ngModel)]="backDate"
                        [min]="minbackDate" [max]="maxbackDate"></ion-datetime>
                    </ion-item>

                    <div style="width: 100%;background-color: #f2f2f2; border-radius: 0 0 5px 5px;padding: 0.4vh;"
                      *ngIf="backDate">
                      <ion-text style="color: black;font-size: 1rem;">{{ backDate | date2line}}</ion-text>
                    </div>
                  </div>
                </ion-col>
              </ion-row>

            </div>

          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer no-border style="width: 100vw;background-color: #fe5200;color:  white;">
  <div style="width: 100%; display: flex;justify-content: center;">

    <ion-button slot="start" fill="clear" style="color: white; width: 100%; outline: none;" (click)="btnSearch()"
      *ngIf="!showSelection">
      <ion-icon name="md-search"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">
        Buscar pasajes
      </div>
    </ion-button>
    <ion-button slot="start" fill="clear" style="color: white; width: 100%; outline: none;" (click)="atras()"
      *ngIf="showSelection">
      <!-- <ion-icon name="md-search"></ion-icon> -->
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">
        <ion-icon style="margin-bottom: -2px;" src="assets/icon/previous.svg"></ion-icon>
        Atrás
      </div>
    </ion-button>

  </div>
</ion-footer>