<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">
    </div>

    <div style="display: inline; width: 10%;" (click)="popCart($event)">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
      <ion-badge color="dark" mode="ios" *ngIf="ticket.comprasDetalles && ticket.comprasDetalles.length>0"
        style="position: absolute; left: 81%; top: 10%; font-size: 0.7rem;opacity: 0.7; background-color: #0247ac;">
        {{ticket.comprasDetalles.length}}</ion-badge>
    </div>

    <div style="display: inline; width: 10%" (click)="popMenu($event)">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>

  <div class="cabeceraTitulo" *ngIf="!showSelection">
    Detalles de Compra
  </div>

  <div class="cabeceraTitulo" *ngIf="showSelection">
    Seleccione Comuna
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loading" color="secondary"></ion-progress-bar>
</ion-header>


<ion-content>
  <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary);padding:0;">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;" class="ion-no-padding ion-no-margin ion-justify-content-center  ">
        <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center "
          style="height: 100%;position: relative;">

          <!-- solo cuando hay que elegir origen o destino -->
          <ion-row *ngIf="showSelection" style="background-color: var(--ion-color-primary);width: 100%;">            
            <ion-col size="12" style="background-color: var(--ion-color-primary) ">
              <div class="cabeceraSubTitulo" *ngIf="type === 'origen'">
                <span>Este campo debe ser llenado con la comuna de su hogar, la comuna de su trabajo o la comuna que se encuentra visitando previamente al viaje.</span>
              </div>
            
              <div class="cabeceraSubTitulo" *ngIf="type === 'destino'">
                <span>Este campo debe ser llenado con la comuna donde residirá en destino, la comuna donde trabajará en el destino o la comuna que visitará en el destino.</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showSelection" style="background-color: var(--ion-color-primary);width: 100%;">            
            <ion-col size="12" style="background-color: var(--ion-color-primary) ">
              <div style="height: 100%; width: 100%;background-color: var(--ion-color-primary);">

                <div style="display: flex; flex-direction: row; align-items: center;
                  justify-content: center; background-color: #f2f2f2;
                  border-radius: 15px; padding: 5px; margin: 10px;">
                  <div style="width: 10% ;justify-content: center;">
                    <ion-icon style="font-size: 2rem; color: var(--ion-color-primary);" name="md-search"></ion-icon>
                  </div>
                  <!-- input buscador -->
                  <ion-input style="width: 90%" type="text" placeholder="Buscar aquí.." (keyup)="teclaInput($event)"
                    #focusInput class="inputComuna">
                  </ion-input>
                </div>

                <!-- bucle filtro -->
                <ion-item (click)="seleccion(item)" style="color: black;outline: none; text-transform: none; height:
                  3rem; border: 1px solid var(--ion-color-primary); border-radius: 10px; cursor: pointer;
                  text-align: center;" *ngFor="let item of listaComunaFiltrada">
                  <ion-icon style="color: var(--ion-color-primary);padding-left: 8vw; font-size: 1rem;" name="pin">
                  </ion-icon>
                  <ion-text style="padding-left: 0.5rem;">{{item.nombre | titlecase}}</ion-text>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <!-- mostrar Promoción banner etapa 2 -->
          <div *ngIf="showPromocionModal && !showSelection" style="position: fixed; width: 96%; background-color: rgba(red, green, blue, alpha); top: 30%; right: 2%; max-height: 250px;
                                display: flex; flex-direction: row;z-index: 3;">

            <img src="{{modalInfo.image}}" alt="" style="object-fit: cover;width: 50%;border-radius: 2rem 0 0 2rem;border: 1px solid var(--ion-color-light);
                                  border-top: 1px solid var(--ion-color-primary);
                                  border-left: 1px solid var(--ion-color-primary);
                                  border-bottom: 1px solid var(--ion-color-primary);
                                  ">
            <div style="width: 50%;background-color: var(--ion-color-light);border-radius: 0 2rem  2rem 0;
                                  color: var(--ion-color-dark);display: flex; flex-direction: column;border: 1px solid var(--ion-color-light);
                                  justify-content: center; align-items: center;
                                  border-top: 1px solid var(--ion-color-primary);
                                  border-right: 1px solid var(--ion-color-primary);
                                  border-bottom: 1px solid var(--ion-color-primary);
                                  ">
              <div style="font-size: 4vw; margin: 0.5rem 0; text-align: center;">{{modalInfo.titulo}}</div>
              <div style="font-size: 3vw; margin: 0.5rem 0; text-align: center;">{{modalInfo.contenido}}</div>
              <div style="display: flex;flex-direction: row; margin: 0.5rem 0;width: 80%;">
                <ion-button style="width: 50%;" (click)="btnEtapa2Si()" color="secondary" expand="block">Si
                </ion-button>
                <ion-button style="width: 50%;" (click)="btnEtapa2No()" color="secondary" expand="block">No
                </ion-button>
              </div>
            </div>
          </div>


          <!-- resto de la página -->
          <ion-col size="12" style="text-align: center;" [ngStyle]="{'opacity': showPromocionModal ? '0.2' : '1' }"
            class="ion-no-padding ion-no-margin ion-justify-content-center  " 
            *ngIf="!showSelection">



            <!-- Presione continuar para seleccionar detalles de regreso -->
            <div style="background-color: #0247ac; color: white;" *ngIf="ticket.tripType==='goBack' && way==='go'">
              Presione continuar para seleccionar pasajes de regreso
            </div>

            <!-- TOTAL -->
            <div style="width: 100%;">
              <div
                style="padding: 1vh 0px;margin: 0rem  6rem;display: flex; justify-content: center; align-items: center;flex-direction: column; background-color: #4c4c4c; color: white; ">
                Total:
                ${{ tarifaTotal.toLocaleString('de-DE')}}
              </div>
            </div>



            <!-- bucle PASAJES  -->
            <div *ngFor="let pasaje of this.ticket.comprasDetalles; let i= index"
              style=" position: relative;;width: 100%;margin: 1vh 0;"
              [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">

              <!-- muestro el ribbon -->
              <div class="ribbon" *ngIf="pasaje.promocion"><span>Con Promoción</span></div>

              <div>

                <!-- //* linea1 -->
                <div style="width: 100%; display: flex;  font-size: 0.8rem;">

                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Boleto</div>
                    <div>{{pasaje.idServicio}}</div>
                  </div>
                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Piso</div>
                    <div>{{pasaje.piso}}</div>
                  </div>
                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Asiento</div>
                    <div>{{pasaje.asiento}}</div>
                  </div>
                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Tipo</div>
                    <div>
                      {{pasaje.piso ===1 ? pasaje.service.servicioPrimerPiso.toLowerCase():pasaje.service.servicioSegundoPiso.toLowerCase() | titlecase}}
                    </div>
                  </div>

                  <div
                    style=" width: 33%;padding: 1vh 0px;margin: 0rem  1rem;display: flex; justify-content: center; align-items: center;flex-direction: column; color: black; font-weight: bold; ">
                    <div>Valor</div>
                    <div>${{pasaje.valor.toLocaleString('de-DE')}}</div>
                  </div>

                </div>

                <!-- //* linea2 -->
                <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;"
                    *ngIf="pasaje.way==='go' && !pasaje.promocion">
                    Ida
                  </div>
                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;"
                    *ngIf="pasaje.way==='back' && !pasaje.promocion">
                    Regreso
                  </div>
                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;" *ngIf="pasaje.promocion">
                    Ida <br>Regreso
                  </div>

                  <div
                    style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: black; ">
                    <div>Salida:{{pasaje.service.fechaSalida}}</div>
                  </div>

                  <div
                    style=" width: 33%;display: flex; justify-content: center; align-items: center;font-size: 0.8rem;color: black; ">
                    <div>Llegada:{{pasaje.service.fechaLlegada}}</div>
                  </div>

                </div>

                <!-- //* linea3 -->
                <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                  <div style=" width: 33%;display: flex; justify-content: center; align-items: center;">
                    <ion-icon style="font-size: 2.8rem; color:#4c4c4c" name="bus"></ion-icon>
                  </div>

                  <div
                    style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                    <div style="font-size: 1.2rem;">{{pasaje.service.horaSalida | hh2ampm}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='go'">{{pasaje.service.terminalOrigen}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='back'">{{pasaje.service.terminalOrigen}}</div>
                    <div style="font-size: 0.7rem;font-weight: bold;">{{pasaje.service.terminalSalida}}</div>
                  </div>

                  <div style=" width: 10%; display: flex;align-items: center;justify-content: center;font-size: 6vw;">
                    <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg); color: #4c4c4c;">
                    </ion-icon>
                  </div>

                  <div
                    style=" width: 28%;margin: 0vw  0vw  0vw  0vw;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                    <div style="font-size: 1.2rem;">{{pasaje.service.horaLlegada | hh2ampm}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='go'">{{pasaje.service.terminalDestino}}</div>
                    <div style="font-size: 0.7rem;" *ngIf="pasaje.way==='back'">{{pasaje.service.terminalDestino}}</div>
                    <div style="font-size: 0.7rem;font-weight: bold;">{{pasaje.service.terminaLlegada}}</div>
                  </div>
                </div>

                <!-- //* linea4 -->
                <div style="width: 100%; display: flex;  font-size: 1.5rem;">

                  <div style=" width: 33%;text-align: -webkit-center; font-weight: bold;">
                    <div style="font-size: 0.7rem;">Duración</div>
                    <div style="font-size: 0.8rem;font-weight: bold;">
                      {{'X'| duration: pasaje.way ==='go'? pasaje.goDate:pasaje.backDate : pasaje.service.horaSalida : pasaje.service.fechaLlegada : pasaje.service.horaLlegada}}
                    </div>
                  </div>

                  <div
                    style=" width: 66%; display: flex; justify-content: space-around; align-items: center;padding-top: 0.5rem; ">

                    <div *ngIf="
                    !pasaje.promocion && (
                      pasaje.aviablePromocionP1 && pasaje.piso===1 ||
                      pasaje.aviablePromocionP2 && pasaje.piso===2 
                    )
                    " (click)="agregarPromo(pasaje)" class="animated swing slower infinite"
                      style="position: relative;margin-left: -10vw; margin-right: 0.5rem;margin-top: 0.5rem; margin-bottom: 0.5rem; cursor: pointer;">
                      <div class="sobreEstrella">Aproveche<br>la promoción<br>AQUÍ</div>
                      <div class="estrellaPromocion"></div>
                    </div>

                    <ion-button fill="clear" (click)="getItinerario(pasaje.idServicio)"
                      style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; color: var(--ion-color-primary); text-transform: none; font-size: 0.8rem;width: 5rem;max-height: 2rem;">
                      <ion-icon name="list"></ion-icon>Itinerario
                    </ion-button>

                    <ion-button fill="clear"
                      *ngIf="pasaje.tipo != 'pet'"
                      (click)="eliminaBoleto(pasaje.way, pasaje.idServicio, pasaje.asiento, pasaje.fila, pasaje.columna,pasaje.piso)"
                      style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0f69ec;text-transform: none; font-size: 0.8rem;width: 7rem;max-height: 2rem;">
                      Eliminar
                    </ion-button>

                    <img src="assets/images/icono_bus_flecha.png" 
                      style="width : 3rem;" 
                      (click)="datosPasajero(pasaje)" 
                      title="Datos Pasajero"
                      *ngIf="pasaje.tipo != 'pet'">

                    <img style="width : 3rem;" 
                      src="assets/icon/png/icono_pata_verde.svg" 
                      *ngIf="pasaje.tipo === 'pet'"/>
                  </div>
                </div>
              </div>
              <!--FORMULARIO DATOS PASAJERO-->
              <div style="width: 100%;height: 100%; background-color: var(--ion-color-primary)" *ngIf="pasaje.checked">
                <div style="height: 100%; background-color: white ;margin: 0px 0px 0px 0px;padding: 5px;">
                  <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
                    <ion-row>
                      <ion-col size="6" class="columnaDoble">
                          <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                            Tipo Documento
                          </div>
      
                          <ion-select interface="popover" 
                            class="ion-no-padding ion-no-margin" multiple="false"
                            cancel-text="Cancelar" [(ngModel)]="pasaje.pasajero.tipoDocumento" #tipoDocumento name="tipoDocumento" required>
                            <ion-select-option *ngFor="let tipo of listaTipoDocumento" value="{{tipo.valor}}">
                              {{tipo.descripcion}}
                            </ion-select-option>
                          </ion-select>
                      </ion-col>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Numero Documento
                        </div> 
                        <div class="overIonInput">    
                          <input 
                            *ngIf="pasaje.pasajero.tipoDocumento === 'R'"
                            placeholder="RUT" type="text" name="rut" 
                            [textMask]={mask:rutFunction,guide:false}
                            [(ngModel)]="pasaje.pasajero.documento" #rut required clearOnEdit maxlength="12"
                            class="inputRut" 
                            (blur)="buscarDatosPasajero(pasaje.pasajero)"/>
                          <input 
                            *ngIf="pasaje.pasajero.tipoDocumento != 'R'"
                            placeholder="Numero Documento" type="text" name="nDocumento" 
                            [(ngModel)]="pasaje.pasajero.documento" #nDocumento required clearOnEdit maxlength="12"
                            class="inputRut"
                            (blur)="buscarDatosPasajero(pasaje.pasajero)"/>
                        </div>    
                      </ion-col>                          
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Nombre
                        </div>  
                        <div style="position: relative;" class="overIonInput">
                          <ion-input placeholder="Nombre" type="text" name="nombre" minlength="3" #nombre
                            [(ngModel)]="pasaje.pasajero.nombre" required clearOnEdit
                            maxlength="50"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Apellido
                        </div>  
                        <div class="overIonInput">
                          <ion-input placeholder="Apellido" type="text" name="apellido" #apellido
                            [(ngModel)]="pasaje.pasajero.apellido" minlength="3" maxlength="80" required clearOnEdit>
                          </ion-input>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Nacionalidad
                        </div>
    
                        <ion-select interface="popover"
                          class="ion-no-padding ion-no-margin" multiple="false"
                          cancel-text="Cancelar" [(ngModel)]="pasaje.pasajero.nacionalidad" #nacionalidad name="nacionalidad" required>
                          <ion-select-option *ngFor="let nacionalidad of listaNacionalidad" value="{{nacionalidad.valor}}">
                            {{nacionalidad.descripcion}}
                          </ion-select-option>
                        </ion-select>
                      </ion-col>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Correo
                        </div>    
                        <div class="overIonInput">
                          <ion-input placeholder="Correo" type="email" name="email"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email [(ngModel)]="pasaje.pasajero.email"
                            required clearOnEdit
                            maxlength="100"></ion-input>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Contacto Telefónico
                        </div>
                        <div class="overIonInput">
                          <ion-input placeholder="Contacto Telefónico" type="phone" name="phone" pattern="^[0-9]{9,10}$" #telefono
                            [(ngModel)]="pasaje.pasajero.telefono" required clearOnEdit
                            maxlength="12"
                            (keypress)="validar($event, 'telefono')"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Contacto Telefónico Emergencia
                        </div>
                        <div class="overIonInput">
                          <ion-input placeholder="Contacto Emergencia" type="phone" name="phoneE" pattern="^[0-9]{9,10}$" #telefonoEmergencia
                            [(ngModel)]="pasaje.pasajero.telefonoEmergencia" required clearOnEdit
                            maxlength="12"
                            (keypress)="validar($event, 'telefono')"></ion-input>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Comuna Residencia Origen
                        </div>
    
                        <div
                        style="text-align: center; width: 100%;max-height: 30px; border: 1px solid var(--ion-color-primary); border-radius: 5px;background-color:white">
                        <ion-button fill="clear" style="color: white; width: 100%; outline: none; text-transform: none;max-height: 22px;"
                          [disabled]="loading" (click)="btnSelecccionar('origen',pasaje.pasajero)">
  
                          <div style="display: flex; flex-direction: row; width: 100%;">
                            <div
                              style="display: flex;color: black; width: 93%;align-items: center; font-size: 1rem; font-size: 1.5rem;">
                              <ion-text *ngIf="pasaje.pasajero.comunaOrigen === undefined" style="font-size: 0.9rem;color: black;">
                                Seleccione..</ion-text>
                              <ion-text *ngIf="pasaje.pasajero.comunaOrigen != undefined" style="font-size: 0.9rem;color: black;">
                                {{ pasaje.pasajero.comunaOrigenDescripcion | titlecase }}
                              </ion-text>
                            </div>
                            <div style="display: flex;color: black; width: 7%;justify-content: flex-end;">
                              <ion-icon class="iconEditable" style="margin:0; color: var(--ion-color-primary);;"
                                name="arrow-dropdown">
                              </ion-icon>
                            </div>
                          </div>
                        </ion-button>
                      </div>
                      </ion-col>
                      <ion-col size="6" class="columnaDoble">
                        <div style="color: var(--ion-color-primary); font-size: 0.6rem;">
                          Comuna Residencia Destino
                        </div>
                        <div
                        style="text-align: center; width: 100%;max-height: 30px; border: 1px solid var(--ion-color-primary); border-radius: 5px;background-color:white">
                        <ion-button fill="clear" style="color: white; width: 100%; outline: none; text-transform: none;max-height: 22px;"
                          [disabled]="loading" (click)="btnSelecccionar('destino',pasaje.pasajero)">
  
                          <div style="display: flex; flex-direction: row; width: 100%;">
                            <div
                              style="display: flex;color: black; width: 93%;align-items: center; font-size: 1rem; font-size: 1.5rem;">
                              <ion-text *ngIf="pasaje.pasajero.comunaDestino === undefined" style="font-size: 0.9rem;color: black;">
                                Seleccione..</ion-text>
                              <ion-text *ngIf="pasaje.pasajero.comunaDestino != undefined" style="font-size: 0.9rem;color: black;">
                                {{ pasaje.pasajero.comunaDestinoDescripcion | titlecase }}
                              </ion-text>
                            </div>
                            <div style="display: flex;color: black; width: 7%;justify-content: flex-end;">
                              <ion-icon class="iconEditable" style="margin:0; color: var(--ion-color-primary);;"
                                name="arrow-dropdown">
                              </ion-icon>
                            </div>
                          </div>
                        </ion-button>
                      </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" style="margin-top: 2vh; margin-bottom: 2vh;">                        
                        <ion-button fill="clear"
                          (click)="limpiarDatosPasajero(pasaje.pasajero,'ALL')"
                          style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0f69ec;text-transform: none; font-size: 0.8rem;width: 7rem;max-height: 2rem;">
                          Limpiar
                        </ion-button>
                      </ion-col>
                      <ion-col size="6" style="margin-top: 2vh; margin-bottom: 2vh;">                                                
                        <ion-button fill="clear"
                        (click)="guardarDatosPasajero(pasaje.pasajero)"
                          style="color: white; outline: none;  --padding-start: 0;--padding-end: 0; --background: #0f69ec;text-transform: none; font-size: 0.8rem;width: 7rem;max-height: 2rem;">
                          Guardar
                        </ion-button>
                      </ion-col>
                    </ion-row>

                  </ion-grid>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>


<ion-footer>

  <div *ngIf="next==='/payment-methods' && this.ticket.comprasDetalles.length<4 && !showSelection"
    style="width: 100%; display: flex;justify-content: space-around;">

    <ion-button fill="clear" (click)="comprarMasPasajes()"
      style="color: var(--ion-color-primary); outline: none; width: 100%;   --padding-start: 0;--padding-end: 0;">
      <ion-icon src="assets/icon/previous.svg" style="color: var(--ion-color-primary);font-size: 2.5vw;padding: 3px;">
      </ion-icon>
      <div style="display: inline;  text-align: right; text-transform: none;font-size: 1rem; font-weight: bold;">
        Comprar más pasajes
      </div>
    </ion-button>

  </div>


  <div
    style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: var(--ion-color-primary);">
    <ion-button *ngIf="showSelection" fill="clear" style="color: white;  width: 50%; outline: none;" (click)="atras()">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline;  text-align: right;padding-right: 7px; padding-left: 7px; text-transform: none">
        Atrás</div>
    </ion-button>
    
    <ion-button *ngIf="!showSelection" fill="clear" style="color: white;  width: 50%; outline: none;" (click)="volver()">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline;  text-align: right;padding-right: 7px; padding-left: 7px; text-transform: none">
        Volver</div>
    </ion-button>

    <ion-button *ngIf="next==='/ticket'" fill="clear" style="color: white;  width: 50%; outline: none;"
      (click)="continuar('/ticket')">
      <div
        style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none;font-size: 1rem; font-weight: bold;">
        Continuar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 2.5vw;"></ion-icon>
    </ion-button>

    <ion-button *ngIf="next==='/home'" fill="clear" style="color: white;  width: 50%; outline: none;"
      (click)="continuar('/home')">
      <div
        style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none;font-size: 1rem; font-weight: bold;">
        Home</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 2.5vw;"></ion-icon>
    </ion-button>

    <ion-button *ngIf="next==='/payment-methods' && !showSelection"  fill="clear" style="color: white;  width: 50%; outline: none;"
      (click)="continuar('/payment-methods')">
      <div
        style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none;font-size: 1rem; font-weight: bold;">
        Pagar</div>
      <ion-icon src="assets/icon/previous.svg" style="transform: rotate(180deg);font-size: 2.5vw;"></ion-icon>
    </ion-button>

  </div>
</ion-footer>