<ion-header no-border>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>

    <div style="display: inline; width: 60%;">
      <ion-img src="./../../../assets/images/titulo.png" style="height: 100%;height: 5vh;"></ion-img>
    </div>

    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>

    <div style="display: inline; width: 5%;"></div>

  </div>

  <div class="cabeceraTitulo">
    Detalles de Compra
  </div>

</ion-header>


<ion-content>

  <!-- <div style="width: 100%;height: 100%; background-color: #fe5200;padding:  0 0 0 0">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;" class="ion-no-margin ion-no-padding">
        <ion-row style="height: 100%"
          class="ion-no-margin ion-no-padding ion-justify-content-center ion-align-items-center">
          <ion-col size="12" style=" height: 100%;text-align: center;" class="ion-no-margin ion-no-padding">
 -->
  <div style="width: 100%;height: 100%; background-color: #fe5200;padding:0;">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;"
        class="ion-no-padding ion-no-margin ion-justify-content-center  ion-align-items-center">
        <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center  ion-align-items-center"
          style="height: 100%">
          <ion-col size="12" style="text-align: center;"
            class="ion-no-padding ion-no-margin ion-justify-content-center  ion-align-items-center">

            <!-- IDA -->
            <div style="width: 100%;margin: 1vh 0;">
              <!-- linea1 -->
              <div style="width: 100%; display: flex; background-color: #f2f2f2; font-size: 4vw;">

                <div style=" width: 30%;"></div>

                <div
                  style=" width: 30%;padding: 1vh 0px;margin: 2vw  2vw  2vw  2vw; text-align: -webkit-center; background-color: #4c4c4c; color: white; ">
                  <div>Pasajes</div>
                  <div>1</div>
                </div>

                <div
                  style=" width: 30%;padding: 1vh 0px;margin: 2vw  2vw  2vw  2vw; text-align: -webkit-center; background-color: #4c4c4c; color: white; ">
                  <div>Valor</div>
                  <div>$7.000</div>
                </div>
                <div style=" width: 10%;"></div>

              </div>

              <!-- linea2 -->
              <div style="width: 100%; display: flex; background-color: #f2f2f2; font-size: 4vw;">

                <div style=" width: 30%;text-align: -webkit-center; font-weight: bold;">Ida</div>

                <div
                  style=" width: 30%;margin: 0vw  0vw  0vw  0vw;font-size: 3vw; text-align: -webkit-center;  color: black; ">
                  <div>Salida:13/Nov/19</div>
                </div>

                <div
                  style=" width: 30%;margin: 0vw  0vw  0vw  0vw;font-size: 3vw; text-align: -webkit-center;  color: black; ">
                  <div>Llegada:13/Nov/19</div>
                </div>

                <div style=" width: 10%;"></div>

              </div>

              <!-- linea3 -->
              <div style="width: 100%; display: flex; background-color: #f2f2f2; font-size: 4vw;">

                <div style=" width: 30%;text-align: -webkit-center;">
                  <ion-icon style="font-size: 12vw; color:#4c4c4c" name="bus"></ion-icon>
                </div>

                <div
                  style=" width: 25%;margin: 0vw  0vw  0vw  0vw; text-align: -webkit-center;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 5vw;">6:26 AM</div>
                  <div style="font-size: 2.5vw;">SANTIAGO</div>
                </div>

                <div style=" width: 10%; display: flex;align-items: center;justify-content: center;font-size: 6vw;">
                  <ion-icon src="../../../assets/icon/previous.svg" style="transform: rotate(180deg); color: #4c4c4c;">
                  </ion-icon>
                </div>

                <div
                  style=" width: 25%;margin: 0vw  0vw  0vw  0vw; text-align: -webkit-center;  color: black;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 5vw;">12:26 AM</div>
                  <div style="font-size: 2.5vw;">CONCEPCIÓN</div>
                </div>

                <div style=" width: 10%;"></div>

              </div>

              <!-- linea4 -->
              <div style="width: 100%; display: flex; background-color: #f2f2f2; font-size: 2vw;">

                <div style=" width: 30%;margin: 0vw  0vw  0vw  0vw; text-align: -webkit-center;  color: black; ">
                  <div style="font-size: 2.5vw;">Duración</div>
                  <div style="font-size: 3vw;font-weight: bold;">6 Hrs.</div>
                </div>

                <div style=" width: 70%;"></div>

              </div>

              <!-- linea5 -->
              <div style="width: 100%; display: flex; background-color: #f2f2f2; font-size: 4vw; padding-bottom: 1vh;">

                <div style=" width: 30%;text-align: -webkit-center;"></div>

                <div
                  style=" width: 70%;margin: 0 30vw; text-align: -webkit-center; background-color: #4c4c4c; color: white;padding: 5px 0px;font-size: 3vw; ">
                  <div>SIN PARADAS</div>
                </div>

              </div>

            </div>


            <!-- REGRESO -->
            <div style="width: 100%;margin: 1vh 0; background-color: #0247ac; color: white;">
              <!-- linea1 -->
              <div style="width: 100%; display: flex; font-size: 4vw;">

                <div style=" width: 30%;"></div>

                <div
                  style=" width: 30%;padding: 1vh 0px;margin: 2vw  2vw  2vw  2vw; text-align: -webkit-center; background-color: #4c4c4c; color: white; ">
                  <div>Pasajes</div>
                  <div>1</div>
                </div>

                <div
                  style=" width: 30%;padding: 1vh 0px;margin: 2vw  2vw  2vw  2vw; text-align: -webkit-center; background-color: #4c4c4c; color: white; ">
                  <div>Valor</div>
                  <div>$7.000</div>
                </div>
                <div style=" width: 10%;"></div>

              </div>

              <!-- linea2 -->
              <div style="width: 100%; display: flex; font-size: 4vw;">

                <div style=" width: 30%;text-align: -webkit-center; font-weight: bold;">Regreso</div>

                <div
                  style=" width: 30%;margin: 0vw  0vw  0vw  0vw;font-size: 3vw; text-align: -webkit-center;  color: white; ">
                  <div>Salida:13/Nov/19</div>
                </div>

                <div
                  style=" width: 30%;margin: 0vw  0vw  0vw  0vw;font-size: 3vw; text-align: -webkit-center;  color: white; ">
                  <div>Llegada:13/Nov/19</div>
                </div>

                <div style=" width: 10%;"></div>

              </div>

              <!-- linea3 -->
              <div style="width: 100%; display: flex; font-size: 4vw;">

                <div style=" width: 30%;text-align: -webkit-center;">
                  <ion-icon style="font-size: 12vw; color:white" name="bus"></ion-icon>
                </div>

                <div
                  style=" width: 25%;margin: 0vw  0vw  0vw  0vw; text-align: -webkit-center;  color: white;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 5vw;">6:26 AM</div>
                  <div style="font-size: 2.5vw;">SANTIAGO</div>
                </div>

                <div style=" width: 10%; display: flex;align-items: center;justify-content: center;font-size: 6vw;">
                  <ion-icon src="../../../assets/icon/previous.svg" style="transform: rotate(180deg); color: white;">
                  </ion-icon>
                </div>

                <div
                  style=" width: 25%;margin: 0vw  0vw  0vw  0vw; text-align: -webkit-center;  color: white;display: flex;justify-content: center;align-items: center;flex-direction: column; ">
                  <div style="font-size: 5vw;">12:26 AM</div>
                  <div style="font-size: 2.5vw;">CONCEPCIÓN</div>
                </div>

                <div style=" width: 10%;"></div>

              </div>

              <!-- linea4 -->
              <div style="width: 100%; display: flex; font-size: 2vw;">

                <div style=" width: 30%;margin: 0vw  0vw  0vw  0vw; text-align: -webkit-center;  color: white; ">
                  <div style="font-size: 2.5vw;">Duración</div>
                  <div style="font-size: 3vw;font-weight: bold;">6 Hrs.</div>
                </div>

                <div style=" width: 70%;"></div>

              </div>

              <!-- linea5 -->
              <div style="width: 100%; display: flex; font-size: 4vw; padding-bottom: 1vh;">

                <div style=" width: 30%;text-align: -webkit-center;"></div>

                <div
                  style=" width: 70%;margin: 0 30vw; text-align: -webkit-center; background-color: #4c4c4c; color: white;padding: 5px 0px;font-size: 3vw; ">
                  <div>SIN PARADAS</div>
                </div>

              </div>

            </div>







          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>


<ion-footer>

  <div style=" width: 100%; display: flex;align-items: center;justify-content: center; background-color: #fe5200;">

    <div
      style="width: 50%;display: inline;  text-align: left;padding-right: 7px;  text-transform: none;padding-left: 20px;font-size: 5vw;color: white;font-weight: bold; ">
      Total: $14.000
    </div>

    <ion-button fill="clear" style="color: white;  width: 50%; outline: none;" routerLink="/payment-methods">
      <div style="display: inline;  text-align: right;padding-right: 7px;  text-transform: none">Continuar</div>
      <ion-icon src="../../../assets/icon/previous.svg" style="transform: rotate(180deg);"></ion-icon>
    </ion-button>

  </div>
</ion-footer>