<ion-header no-border>

  <div class="cabeceraGeneral">
    <div style="display: inline; width: 5%;"></div>

    <div style="display: inline; width: 10%;margin: 5px;">
    </div>

    <div style="width: 60%; height: 100%; display: flex; align-items: center;
      justify-content: center;" routerLink="/home">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit:
        scale-down;position: relative; z-index: 10;" />
    </div>

    <div style="display: inline; width: 10%;">
    </div>

    <div style="display: inline; width: 10%">
    </div>

    <div style="display: inline; width: 5%;"></div>
  </div>



  <div class="cabeceraTitulo">
    Cuponera Seleccionada
  </div>
  <ion-progress-bar type="indeterminate" *ngIf="loading>0" color="secondary"></ion-progress-bar>

</ion-header>

<ion-content style="width: 100%;height: 100%;">
  <div style=" height: 100%; background-color: white ; ">
    <ion-grid class=" ion-no-padding ion-no-margin" style="height: 100%;">
      <ion-row class=" ion-no-padding  ion-no-margin ion-justify-content-center" style="height: 100%">
        <ion-col class=" ion-no-padding ion-no-margin" size="12" style="text-align: center;">



          <!-- formulario para la autenticacion para validar en caso de ser necesario -->
          <div *ngIf="cupon && cupon.requiereAutenticacion"
            style="width: 100%; display: flex; justify-content: center;">
            <div style="width: 300px; display: flex; flex-direction: column;background-color: #f2f2f2;
                      padding: 0 0.5rem 0.5rem 0.5rem;border-radius: 6px;margin-top: 0.3rem; ">

              <div
                style="background-color: var(--ion-color-secondary); color: white; margin: 0 -0.5rem; border-radius: 5px 5px 0 0;padding: 0.3rem 0;">
                Autenticación Requerida</div>
              <div>
                <input type="text" [textMask]="{mask:rutFunction,guide:false}" [(ngModel)]="myData.rut" name="rut"
                  #input_rut placeholder="RUT" style="text-align: center;">
              </div>
              <div>
                <input type="password" [(ngModel)]="myData.clave" name="clave" #input_clave placeholder="Contraseña"
                  style="text-align: center;">
              </div>
              <div style="display: flex; justify-content: flex-end;margin-top: 0.5rem;">
                <ion-button (click)="validar()" color="secondary" size="small" style="text-transform: none;">
                  Validar
                </ion-button>
              </div>
            </div>
          </div>


          <!-- datos del cupon -->
          <div *ngIf="cupon" style="margin-top: 0.5rem;" class="odd">
            <div
              style="background-color: var(--ion-color-secondary); color: white; margin: 0 -0.5rem; border-radius: 20px 20px 0 0;padding: 0.3rem 0;">
              Detalle
            </div>

            <div
              style="display: flex; flex-direction: row;align-items: center; justify-content: space-between;padding: 0.7rem 0;">

              <div style="display: flex; flex-direction: row;">
                <ion-img [src]="'data:image/jpeg;base64,'+cupon.empresaLogo" style="width: 5rem;"></ion-img>
              </div>

              <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; flex-grow: 1;">
                <div style="display: flex; flex-direction: row; justify-content: space-evenly;flex-grow: 1;">
                  <div style="display: flex;flex-direction: column;">
                    <div style="font-size: 0.6rem;font-weight: bold;padding: 0.2rem;">Programa:</div>
                    <div style="font-size: 0.8rem;padding: 0.2rem;">{{cupon.programa}}</div>
                  </div>
                  <div style="display: flex;flex-direction: column;">
                    <div style="font-size: 0.6rem;font-weight: bold;padding: 0.2rem;">Servicio:</div>
                    <div style="font-size: 0.8rem;padding: 0.2rem;">{{cupon.claseDescripcion}}</div>
                  </div>
                  <div style="display: flex;flex-direction: column;">
                    <div style="font-size: 0.6rem;font-weight: bold;padding: 0.2rem;">Ruta:</div>
                    <div style="font-size: 0.8rem;padding: 0.2rem;">{{cupon.rutaDescripcion}}</div>
                  </div>
                </div>

                <div
                  style="display: flex; flex-direction: row;  justify-content: space-evenly;flex-grow: 1;margin-top: 0.7rem;">
                  <div style="display: flex;flex-direction: column;">
                    <div style="font-size: 0.6rem;font-weight: bold;padding: 0.2rem;">Boletos:</div>
                    <div style="font-size: 0.8rem;padding: 0.2rem;">{{cupon.boletos}}</div>
                  </div>
                  <div style="display: flex;flex-direction: column;">
                    <div style="font-size: 0.6rem;font-weight: bold;padding: 0.2rem;">Distribución:</div>
                    <div style="font-size: 0.8rem;padding: 0.2rem;">{{cupon.distribucion}}</div>
                  </div>
                  <div style="display: flex;flex-direction: column;">
                    <div style="font-size: 0.6rem;font-weight: bold;padding: 0.2rem;">valor:</div>
                    <div style="font-size: 0.8rem;padding: 0.2rem;">${{cupon.total.toLocaleString('de-DE')}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <!-- formulario para Métodos d pago -->
          <div style="width: 100%; display: flex; justify-content: center; margin-top: 0.5rem;">
            <div style="width: 300px; display: flex; flex-direction: column;background-color: #f2f2f2;
                                padding: 0 0.5rem 0.5rem 0.5rem;border-radius: 6px;margin-top: 0.3rem; ">

              <div
                style="background-color: var(--ion-color-secondary); color: white; margin: 0 -0.5rem; border-radius: 5px 5px 0 0;padding: 0.3rem 0;">
                Medio de Pago</div>
              <div>
                <input type="email" [(ngModel)]="payData.email1" name="email1" #input_email1 placeholder="EMAIL"
                  style="text-align: center;">
              </div>
              <div>
                <input type="email" [(ngModel)]="payData.email2" name="email2" #input_email2
                  placeholder="RE-INGRESAR EMAIL" style="text-align: center;">
              </div>

              <div>
                <img src="assets/images/MediosDePago/WebPay.png" style="width: 120px;margin: 0.5rem;" alt="">
              </div>

              <div style="display: flex;flex-direction: row; align-items: center;">
                <div>
                  <ion-checkbox style="margin: 0 0.2rem;" color="secondary" [(value)]="payData.terminos"></ion-checkbox>
                </div>
                <div style="font-size: 0.6rem;">He leído los <strong>términos</strong> de la compra </div>
              </div>

              <div style="display: flex; justify-content: flex-end;margin-top: 0.5rem;">
                <ion-button (click)="continuar()" color="secondary" size="small" style="text-transform: none;">
                  Continuar
                </ion-button>
              </div>
            </div>
          </div>




        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer no-border style=" width: 100vw;background-color: var(--ion-color-primary);color: white;">
  <div style="width: 100%; display: flex;justify-content: center;">

    <ion-button slot="start" fill="clear" style="color: white; width: 50%; outline: none;"
      routerLink="/electronic-coupon">
      <ion-icon src="assets/icon/previous.svg"></ion-icon>
      <div style="display: inline; text-align: left ;padding-left: 10px; text-transform: none;">Regresar</div>
    </ion-button>

    <div style="width: 50%;"> </div>

  </div>
</ion-footer>