<ion-header>

  <div class="cabeceraGeneral">

    <div style="display: inline; width: 15%;"></div>

    <div style="display: inline; width: 20rem;">
      <img src="assets/images/titulo.png" style="height: 90%;object-fit: scale-down;position: relative; z-index: 10; ">

    </div>
    <div style="display: inline; width: 15%;"></div>

  </div>



  <div class="cabeceraTitulo"> ¡Bienvenido! </div>

</ion-header>

<ion-content style="background-color: var(--ion-color-primary);">

  <ion-slides scrollbar="false" style="width: 100%; height: 100%;" [options]="options">

    <ion-slide style="width: 100%; height: 100%;" *ngFor="let banner of carrusel">
      <img [src]="banner.imagen" style="height: 100%; width: 100%; object-fit: cover;">
    </ion-slide>

  </ion-slides>


</ion-content>

<ion-footer style="background-color: var(--ion-color-primary);">

  <!-- Menu1 -->
  <div class="animated fadeIn" *ngIf="showMenu1"
    style="height: 46vh; display: flex; flex-direction: column; color: var(--ion-color-primary);padding: 1vh;">

    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 50%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/buy-your-ticket">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" src="assets/icon/svg/coupon.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Comprar pasaje</div>
      </div>

      <div
        style=" background-color: white ; width: 50%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/ticket-change">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" src="assets/icon/svg/ticket.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Gestión de Boletos</div>
      </div>


    </div>


    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 50%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        (click)="irPerfil()">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" src="assets/icon/svg/user.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          {{urlPerfil ==='/login'? 'Ingresar':'Perfil'}}</div>
      </div>

      <div
        style=" background-color: white ; width: 50%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        (click)="mostrarMenu2()">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" src="assets/icon/svg/open-menu.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Menú</div>
      </div>

    </div>



  </div>

  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <!-- Menu2 -->
  <div class="animated fadeIn" *ngIf="showMenu2"
    style="height: 46vh; display: flex; flex-direction: column; color: var(--ion-color-primary);padding: 1vh;">
    <!-- fila1 -->
    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/buy-your-ticket">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/travel.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Viajes Especiales</div>
      </div>

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/ticket-change">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/budget.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Cuenta Corriente</div>
      </div>


    </div>

    <!-- fila2 -->
    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/contact">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/map.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Destinos del Mes</div>
      </div>

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/my-data">
        <div style="display: flex; justify-content: center; align-items: center">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/contact.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Formulario de contactos</div>
      </div>

    </div>

    <!-- fila3 -->
    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/questions">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/question.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Preguntas Frecuentes</div>
      </div>

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/agencies">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/scheme.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Agencias</div>
      </div>

    </div>

    <!-- fila4 -->
    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/agreements">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/search.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Información de Convenios</div>
      </div>

      <div
        style=" background-color: white ; width: 50%;display: flex; flex-direction: row; border-radius: 0.9rem; padding-right: 15px; margin:  0.1rem 0.3rem;"
        routerLink="/contact">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 5vh; margin:0 10px" src="assets/icon/svg/profile.svg"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Pullman Pass</div>
      </div>

    </div>

    <!-- fila5 -->
    <div style="display: flex;flex-direction: row; height: 50%; justify-content: center;">

      <div
        style=" background-color: white ; width: 50%; margin: 0;display: flex;justify-content: center; flex-direction: row; border-radius: 0.9rem; margin:  0.1rem 0.3rem; justify-content: center; align-items: center;padding-right: 15%;"
        (click)="mostrarMenu1()">
        <div style="display: flex; justify-content: center; align-items: center;">
          <ion-icon style="font-size: 5vh; margin:0 10px" name="ios-arrow-back"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center;width: 100%;">
          Volver</div>
      </div>

    </div>



  </div>


  <!-- <div style="height: 46vh; display: flex; flex-direction: column; color: var(--ion-color-primary);padding: 1vh;">

    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 33.3333%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/buy-your-ticket">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" name="md-bus"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Comprar pasaje</div>
      </div>

      <div
        style=" background-color: white ; width: 33.3333%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/ticket-change">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" name="repeat"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Cambio Boleto</div>
      </div>

      <div
        style=" background-color: white ; width: 33.3333%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/questions">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" name="help-circle"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 0.8rem;text-align: center; font-weight: bold;">
          Preguntas <br> Frecuentes</div>
      </div>

    </div>


    <div style="display: flex;flex-direction: row; height: 50%;">

      <div
        style=" background-color: white ; width: 33.3333%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/contact">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" name="md-call"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Contacto</div>
      </div>

      <div
        style=" background-color: white ; width: 33.3333%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        routerLink="/terms-conditions">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" name="md-information-circle"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          Términos</div>
      </div>

      <div
        style=" background-color: white ; width: 33.3333%; margin: 0;display: flex; flex-direction: column; border-radius: 0.9rem; margin: 0.3rem; padding: 1rem;justify-content: center; align-items: center;"
        (click)="irPerfil()">
        <div style="display: flex; justify-content: center; align-items: center;padding-bottom: 1vh;">
          <ion-icon style="font-size: 8vh;" name="ios-contact"></ion-icon>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center; font-size: 1rem;text-align: center; font-weight: bold;">
          {{urlPerfil ==='/login'? 'Ingresar':'Perfil'}}</div>
      </div>

    </div>



  </div> -->


</ion-footer>